
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Post</title>
</head>
<body>
<div>
    <h2>{{ object.title }}</h2>
    <p>a{{ object.description }}</p>
    <img src="{{ object.image.url }}" alt="">
    <p>{{ object.created_data }}</p>
    <p>{{ object.updated_data }}</p>
</div>
<div>
    <h2>Comments: </h2>
    <ul>
        {% for i in comments %}
        <li>
            <p> {{ i.text }} </p>
            <p> {{ i.created_date }} </p>
        </li>
        {% endfor %}
    </ul>
    <a href="/posts/{{object.id}}/update/">Update?</a>
    <a href="/posts/{{object.id}}/delete/">Delete?</a>
    <a href="/add-comment/">Add Comment</a>
</div>
</body>
</html>